img {
  float: left;
}

h1 {
  text-align: center;
  color: red;
}

h2 {
  font-style: italic;
  color: blue;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
  color: blue;

}
