img {
  float: left;
}

h1 {
  text-align: center;
  color: red;
}

h2 {
  font-style: italic;
  color: blue;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
  color: blue;

}

.highlight {
  color: green
}

.career {
  font-weight: bolder;
  color: brown
}


.box {
  margin: 12px;
  border: 2px solid orange;
  padding: 4px;
  background-color: yellow;
}


.color1 ul {
    background-color: gray;
  }

.color2 ul {
    background-color: green;
  }
